###> doctrine/doctrine-bundle ###
MYSQL_ROOT_PASSWORD=8WS8yLgZq3GjMZeaNn
MYSQL_DATABASE=template_application_db
MYSQL_USER=template_application_user
MYSQL_PASSWORD=r24mdYrmK8SJCWq9YP
MYSQL_HOST=mysql
MYSQL_PORT=3306
###< doctrine/doctrine-bundle ###

###> garlic/bus ###
RABBIT_HOST=rabbit
RABBIT_PORT=5672
RABBIT_USER=message_broker_user
RABBIT_PASSWORD=xKBt5jGPPc9f442CPw
RABBIT_DEFAULT_VHOST=/
SERVICE_NAME=template
SERVICE_NAMESPACE=production
###< garlic/bus ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://localhost:?[0-9]*$
###< nelmio/cors-bundle ###

###> lexik/jwt-authentication-bundle ###
# Key paths should be relative to the project directory
JWT_PRIVATE_KEY_PATH=config/jwt/private.pem
JWT_PUBLIC_KEY_PATH=config/jwt/public.pem
JWT_PASSPHRASE=N4NePUf9TgEgemCXBAm7Xc
JWT_TOKEN_TTL=3600
###< lexik/jwt-authentication-bundle ###

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=chkdMYz2Mvgt99FWVfXbAW
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> Defaults ###
DEFAULT_RESULT_LIMIT=50
###<  Defaults ###